When we work with integer, we knew that we only can put a single integer number inside an int var.  We couln't put 2 and 5 in int
Python offers complex data types called collections to solve that, also known as container data types.
3 types of collections:
- lists. Used to store multiple values at same time. 
- tuples
- dictionaries

In [ ]:
# To make city list we would do like this
city_1 = 'New York City'
city_2 = 'Los Angeles'
city_3 = 'Chicago'
city_4 = 'Houston'
city_5 = 'Phoenix'

In [ ]:
# List collection uses [ ] square brackets to store multiple values
# Remember: List indices start at 0 . First element starts with 0
empty_list = []

In [ ]:
top_cities = ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
print(top_cities)

['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']

In [3]:
top_cities

['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']

In [4]:
top_cities[2]

'Chicago'

In [5]:
top_cities[-1]

'Phoenix'

We use SLICING to get first two elements for ex.

In [6]:
top_cities[0:2]

['New York City', 'Los Angeles']

In [7]:
top_cities[2:]

['Chicago', 'Houston', 'Phoenix']

In [8]:
top_cities[:3]

['New York City', 'Los Angeles', 'Chicago']

In [9]:
top_cities[:]

['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']

In [10]:
# Empty list output, no error
top_cities[10:15]

[]

In [ ]:
# Recap
top_city = 'New York'
top_cities = []
top_cities = ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
top_cities[0]
top_cities[0:3]