List in general are collections of multiple elements. ex: list of integer values

In [ ]:
numbers = [1, 2, 3, 4]

In [ ]:
contries = ['UK', 'US', 'Germany']

In [ ]:
# Python allows to mix multiple data types within a single list, but it is not recommended
# Better is if a list have the same data type
countries = [1, 'UK', 2, 'US']

In [1]:
# Lists can also have other lists as elements
cells = [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]

In [2]:
cells[0]

['A1', 'A2', 'A3']

In [3]:
cells[1]

['B1', 'B2', 'B3']

In [4]:
cells[0][0]

'A1'

In [5]:
cells[1][2]

'B3'

In [6]:
cells = [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]
for x in cells:
    print('Element:', x)

Element: ['A1', 'A2', 'A3']
Element: ['B1', 'B2', 'B3']

In [ ]:
# Nested list (Multidimensional list)
cells = [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]
for x in cells:
    for y in x:
        print('Element:', y)

Element: A1
Element: A2
Element: A3
Element: B1
Element: B2
Element: B3

In [8]:
table = [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]
for row in table:
    for cell in row:
        print('Element:', cell)

Element: A1
Element: A2
Element: A3
Element: B1
Element: B2
Element: B3

In [9]:
table = [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]
for row in table:
    for cell in row:
        print(cell, '', end='')
    print()

A1 A2 A3
B1 B2 B3

In [12]:
# We want to create smth like this
#1 2 3 4 5
#1 2 3 4 5
#1 2 3 4 5
#1 2 3 4 5

table = [[i for i in range(1, 6)] for j in range(4)]
print(table)

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]