In [2]:
# We can use len function to count number of elements in tuple
user_data = ('John', 'American', 1964)
print(len(user_data))

3

In [5]:
user_data = ('John', 'American', 1964)
if 'American' in user_data:
    print('This person comes from the US!')

This person comes from the US!

In [7]:
user_data = ('John', 'American', 1964)
for element in user_data:
    print(element)

John
American
1964

In [9]:
user_data = ('John', 'American', 1964) + ('teacher', 'male')
print(user_data)

('John', 'American', 1964, 'teacher', 'male')

    Note, in background in the user data variable, we get a new tuple. As we said before
you can't change an existing tuple, so when we use the plus operator, we actually produce a new tuple with all the elements

In [1]:
numbers = (0, 1) * 10
print(numbers)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [11]:
male_name = ['Adam', 'Jerry', 'Mark']

In [12]:
berlin_temps = [13.0, 17.5, 12.0]

In above ex list is better to use, because all elements are floats and represent temperature

Tuples are often used to group together values of different types

In [13]:
user_data = ('John', 'American', 1964)

In [3]:
first = 5
second = 7
first, second = second, first
print(first, second)

7 5