In [1]:
len('hi there!')

9

In [2]:
len('')

0

In [6]:
print('hi there'[1])

i

In [8]:
print('hi there'[1:])

i there

In [10]:
print('hi there'[:5])

hi th

In [11]:
print('hi there'[3:6])

the

In [12]:
print('I\'m Adrian')

I'm Adrian

In [ ]:
# Code point -> is a num assigned to represent an abstract char in a system to represent text(such as Unicode)
# To get to know code point can use ord() func
ord('a')

97

In [14]:
ord('A')

65

In [ ]:
# Reverse of ord() func is chr()
chr(97)

'a'

In [17]:
# For multi-line str need to use  ''' ''' quotes
test_string ='''Line 1
Line 2'''

In [ ]:
# Special char because of which we got 13 char is called Line Fit, which is expressed as ( \ )
len(test_string)

13

In [20]:
'aaa' + 'bbb'

'aaabbb'

In [21]:
2 * 'ccc'

'cccccc'

    Operator overloading --> means giving extended meaning beyond their predefined operational meaning
- ex: operator + is used to add two int as well as join two str and merge two lists

In [22]:
2 + 3

5

In [23]:
3 + 2

5

In [24]:
'bbb' + 'aaa'

'bbbaaa'

- if the order doesn't matter, operator is commutative
- if order is important, operator is not commutative

In [ ]:
for char in 'hello from the world of Python':
    print(char, end="-")

h-e-l-l-o- -f-r-o-m- -t-h-e- -w-o-r-l-d- -o-f- -P-y-t-h-o-n-

In [26]:
# Python str are immutable
text = 'dHello there!'
del text[0]

TypeError: 'str' object doesn't support item deletion

In [ ]:
# min() func looks for the smallest element in seq
min('ilovetravellingaroundtheworld')

# get (a) in output because it is smallest in ASCII table

'a'

In [29]:
min('i love travelling a lot')

# We get space as output because it is lowest among them

' '

In [30]:
max('ilovetravellingaroundtheword')

'w'